<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Página Principal</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="home.html">UPF Eventos</a>
            <div>
                <a class="nav-link" href="index.html">Início</a>
                <a class="nav-link" href="cadastrar_evento.html">Eventos</a>
                <a class="nav-link" href="fazer_inscricao.html">Inscrições</a>
            </div>
            <form class="search-form" role="search">
                <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Pesquisar</button>
            </form>
        </nav>
    </header>
    <main>
        <section class="banner">
            <div>
                <span>Evento turma WebLAB 2024</span>
            </div>
        </section>
        <div class="container-eventos">
            <h1 class="titulo text-center">EVENTOS</h1>
            <div class="card">
                <div class="card-body">
                    <img class="img-evento" src="../img/evento1.jpg" alt="Evento 01">
                    <h3>UPF 2024</h3>
                    <p>saiuashdiuashdiashdiasdhiuasdh aushdiashdiuahsdiuahsdi asdhiaushdiasudiasudh aisduhasiudhasiduh</p>
                    <div>
                        <a href="" class="btn btn-info">Detalhes</a>
                        <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Eventos Oficial</p>
    </footer>
</body>
</html>
