header {
    width: 100%;
    display: flex;
    background-color: #ffacb4;
}

a {
    text-decoration: none;
}

.header-elements-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.element-img-logo {
    width: 30%;
    margin: 10px;
    margin-left: 15px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    background-color: #29688F;
    min-width: 80%;
    min-height: 60px;
    max-height: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-nav-fdiv {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
}

.header-nav-div {
    display: flex;
    align-items: center;
    justify-content: end;
    justify-content: space-between;
}

.header-nav-btns {
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    transition-duration: 200ms;
}

.header-nav-btns:hover {
    color: #ffacb4;
}

.nav-btn-atual {
    color: #ffacb4;
}

.nav-btn-atual:hover {
    color: white;
}

.header-elements-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.element-img {
    width: 30%;
}

.section-principal {
    margin-left: 11%;
    padding-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

form {
    width: 88%;
}

fieldset {
    border: #29688F solid 2px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

legend {
    font-size: 20px;
}

input[type=checkbox] {
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type=submit] {
    font-size: 16px;
    border-radius: 10px;
    border: #ffacb4 2px solid;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #ffacb4;
    color: white;
}

#biririPoints {
    margin-right: 10px;
    padding: 16px;
    text-align: center;
    font-size: 32px;
    border: #000 2px solid;
    border-radius: 20px;
    color: #000;
}

.h3text {
    font-size: 20px;
    margin-bottom: 10px;
}

@media (max-width: 950px) {
    .element-img-logo {
        width: 35px;
    }

    .header-nav-btns {
        font-size: 16px;
    }

    h1 {
        font-size: 40px;
    }

    .section-principal {
        width: 75%;
    }
}